{% load static %}

{#</style>#}
<footer id="pxl-footer-elementor">
    <div class="footer-elementor-inner">
        <div class="">
            <div class="row">
                <div class="col-12">
                    <div data-elementor-type="wp-post" data-elementor-id="69" class="elementor elementor-69"
                         data-elementor-post-type="pxl-template">
                        <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-c3d6a02 elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-row-scroll-none none"
                                data-id="c3d6a02" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">


                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9f2e257 pxl-column-none"
                                     data-id="9f2e257" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-ab33daf elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-pxl_logo"
                                             data-id="ab33daf" data-element_type="widget"
                                             data-widget_type="pxl_logo.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-logo " data-wow-delay="ms">
                                                    <a href="{% url 'home' %}"> <img width="512" height="180"
                                                                                     src="{% static 'images/media/Header-Logo-2.webp' %}?fit=512%2C180&amp;ssl=1"
                                                                                     class="attachment-full"
                                                                                     alt="Logo"/> </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-929d738 pxl-column-none"
                                     data-id="929d738" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-5ab56b9 elementor-widget elementor-widget-pxl_menu"
                                             data-id="5ab56b9" data-element_type="widget"
                                             data-widget_type="pxl_menu.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-nav-menu pxl-nav-menu1 fr-style-default show-effect-slideup sub-style-default">
                                                    <div class="menu-menu-primary-container">
                                                        <ul id="menu-menu-primary-3"
                                                            class="pxl-menu-primary clearfix">
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-3522">
                                                                <a href="{% url 'home' %}"><span>Home</span></a>
                                                            </li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3691">
                                                                <a href="{% url 'about' %}"><span>About</span></a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4875">
                                                                        <a href="https://clairitylab.ai/industries/"><span>Industries</span></a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-19 current_page_item menu-item-3534">
                                                                <a href="{% url 'services' %}"
                                                                   aria-current="page"><span>Services</span></a>
                                                            </li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4202">
                                                                <a href="{% url 'credentials' %}"><span>Credentials</span></a>
                                                            </li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3657">
                                                                <a href="{% url 'blog' %}"><span>Blog</span></a>
                                                            </li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3533">
                                                                <a href="{% url 'contact' %}"><span>Contact</span></a>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4395">
                                                                <a><span>Language</span></a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4396">
                                                                        <a href='#'
                                                                           class='nturl notranslate ar Arabic single-language flag'
                                                                           title='Arabic'><span
                                                                                class='flag size24'></span>العربية</a>
                                                                    </li>
                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4397">
                                                                        <a href='#'
                                                                           class='nturl notranslate en united-states single-language flag'
                                                                           title='English'><span
                                                                                class='flag size24'></span>English</a>
                                                                    </li>
                                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4398">
                                                                        <a href='#'
                                                                           class='nturl notranslate de German single-language flag'
                                                                           title='German'><span
                                                                                class='flag size24'></span>German</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-bdd8d00 pxl-column-none"
                                     data-id="bdd8d00" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-a65ce65 elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons"
                                             data-id="a65ce65" data-element_type="widget"
                                             data-widget_type="social-icons.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-social-icons-wrapper elementor-grid"
                                                     role="list">
                                                            <span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-fc93dde"
                       href="https://www.instagram.com/clairitylab/" target="_blank">
						<span class="elementor-screen-only">Instagram</span>
                                                            <i class="fab fa-instagram"></i> </a>
                                                            </span>
                                                    <span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-8d17bfa"
                       href="https://www.linkedin.com/in/okkafraile/" target="_blank">
						<span class="elementor-screen-only">Linkedin</span>
                                                            <i class="fab fa-linkedin"></i> </a>
                                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-656baa0 elementor-section-stretched elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-row-scroll-none none"
                                data-id="656baa0" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">


                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-547144f pxl-column-none"
                                     data-id="547144f" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-e0965dc elementor-widget elementor-widget-text-editor"
                                             data-id="e0965dc" data-element_type="widget"
                                             data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">

                                                <body>
                                                <p>ClairityLab empowers SMEs (Small and Medium Enterprises) in the
                                                    UAE, Middle East, and Europe to adopt AI with clarity,
                                                    compliance, and confidence, <br>delivering secure, practical
                                                    solutions through
                                                    a collaborative network of specialists</p>
                                                </body>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-15c6dc3 elementor-section-stretched elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-row-scroll-none none"
                                data-id="15c6dc3" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">


                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8eef889 pxl-column-none"
                                     data-id="8eef889" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-0361233 elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-pxl_icon_box"
                                             data-id="0361233" data-element_type="widget"
                                             data-widget_type="pxl_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-icon-box pxl-icon-box1 style-1 "
                                                     data-wow-delay="ms">
                                                    <div class="pxl-item--inner">
                                                        <div class="pxl-item--icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                 height="32" fill="white" viewBox="0 0 24 24">
                                                                <path d="M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18c0 1.11.89 2 2 2h16c1.11
             0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                                                            </svg>
                                                        </div>
                                                        <a>
                                                            <h5 class="pxl-item-title el-empty">
                                                                info@clairitylab.ai </h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-fcc760e elementor-widget__width-auto elementor-widget elementor-widget-pxl_icon_box"
                                             data-id="fcc760e" data-element_type="widget"
                                             data-widget_type="pxl_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-icon-box pxl-icon-box1 style-1 "
                                                     data-wow-delay="ms">
                                                    <div class="pxl-item--inner">
                                                        <div class="pxl-item--icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                                 height="24" viewBox="0 0 25 24" fill="none">
                                                                <g clip-path="url(#clip0_24_52)">
                                                                    <path d="M12.5 12.75C14.1569 12.75 15.5 11.4069 15.5 9.75C15.5 8.09315 14.1569 6.75 12.5 6.75C10.8431 6.75 9.5 8.09315 9.5 9.75C9.5 11.4069 10.8431 12.75 12.5 12.75Z"
                                                                          stroke="#C1C1C1" stroke-width="2"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"></path>
                                                                    <path d="M20 9.75C20 16.5 12.5 21.75 12.5 21.75C12.5 21.75 5 16.5 5 9.75C5 7.76088 5.79018 5.85322 7.1967 4.4467C8.60322 3.04018 10.5109 2.25 12.5 2.25C14.4891 2.25 16.3968 3.04018 17.8033 4.4467C19.2098 5.85322 20 7.76088 20 9.75Z"
                                                                          stroke="#C1C1C1" stroke-width="2"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"></path>
                                                                </g>
                                                                <defs>
                                                                    <clipPath id="clip0_24_52">
                                                                        <rect width="24" height="24" fill="white"
                                                                              transform="translate(0.5)"></rect>
                                                                    </clipPath>
                                                                </defs>
                                                            </svg>
                                                        </div>
                                                        <a>
                                                            <h5 class="pxl-item-title el-empty">Dubai, UAE</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-0361233 elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-pxl_icon_box"
                                             data-id="0361233" data-element_type="widget"
                                             data-widget_type="pxl_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-icon-box pxl-icon-box1 style-1 "
                                                     data-wow-delay="ms">
                                                    <div class="pxl-item--inner">
                                                        <div class="pxl-item--icon">
                                                            <!-- White Phone Icon -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                 height="32" fill="white" viewBox="0 0 24 24">
                                                                <path d="M6.62 10.79a15.093 15.093 0 0 0 6.59 6.59l2.2-2.2a1.003
             1.003 0 0 1 1.11-.21c1.21.49 2.53.76 3.88.76.55 0 1 .45
             1 1V20c0 .55-.45 1-1 1C10.07 21 3 13.93 3
             5c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.35.26 2.67.76
             3.88.15.37.07.79-.21 1.11l-2.43 2.43z"/>
                                                            </svg>

                                                        </div>
                                                        <a>
                                                            <h5 class="pxl-item-title el-empty">
                                                                +971 0585854222</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-a97c509 elementor-section-stretched elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-row-scroll-none none"
                                data-id="a97c509" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">


                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-61a8ce0 pxl-column-none"
                                     data-id="61a8ce0" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-d796d52 elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="d796d52" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <p>© 2025. All rights reserved by <a
                                                                href="{% url 'home' %}" target="_blank"
                                                                rel="noopener">ClairityLab</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-310bbcb elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="310bbcb" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6d648d7 pxl-column-none"
                                     data-id="6d648d7" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-be019dc elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="be019dc" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <a target="_blank"
                                                           href="{% url 'privacy' %}">Privacy
                                                            Policy</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-d678f77 elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="d678f77" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <a target="_blank"
                                                           href="{% url 'terms' %}">Terms Of
                                                            Services</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-18a79d8 elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="18a79d8" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <a target="_blank"
                                                           href="{% url 'cookies' %}">Cookie
                                                            Policy</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-134a3f8 elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="134a3f8" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-11326e3c elementor-section-stretched elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-row-scroll-none none"
                                data-id="11326e3c" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">


                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3bcac994 pxl-column-none"
                                     data-id="3bcac994" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-68387724 elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-pxl_icon_box"
                                             data-id="68387724" data-element_type="widget"
                                             data-widget_type="pxl_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-icon-box pxl-icon-box1 style-1 "
                                                     data-wow-delay="ms">
                                                    <div class="pxl-item--inner">
                                                        <div class="pxl-item--icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                 height="32" fill="white" viewBox="0 0 24 24">
                                                                <path d="M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18c0 1.11.89 2 2 2h16c1.11
             0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                                                            </svg>
                                                        </div>
                                                        <a>
                                                            <h5 class="pxl-item-title el-empty">
                                                                info@clairitylab.ai </h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4db7b12 elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-pxl_icon_box"
                                             data-id="4db7b12" data-element_type="widget"
                                             data-widget_type="pxl_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-icon-box pxl-icon-box1 style-1 "
                                                     data-wow-delay="ms">
                                                    <div class="pxl-item--inner">
                                                        <div class="pxl-item--icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                 height="32" fill="white" viewBox="0 0 24 24">
                                                                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75
             7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5
             2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                                                            </svg>

                                                        </div>
                                                        <a>
                                                            <h5 class="pxl-item-title el-empty">Dubai, UAE</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4db7b12 elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-pxl_icon_box"
                                             data-id="4db7b12" data-element_type="widget"
                                             data-widget_type="pxl_icon_box.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-icon-box pxl-icon-box1 style-1 "
                                                     data-wow-delay="ms">
                                                    <div class="pxl-item--inner">
                                                        <div class="pxl-item--icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                 height="32" fill="white" viewBox="0 0 24 24">
                                                                <path d="M6.62 10.79a15.093 15.093 0 0 0 6.59 6.59l2.2-2.2a1.003
             1.003 0 0 1 1.11-.21c1.21.49 2.53.76 3.88.76.55 0 1 .45
             1 1V20c0 .55-.45 1-1 1C10.07 21 3 13.93 3
             5c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.35.26 2.67.76
             3.88.15.37.07.79-.21 1.11l-2.43 2.43z"></path>
                                                            </svg>
                                                        </div>
                                                        <a>
                                                            <h5 class="pxl-item-title el-empty">
                                                                +971 0585854222</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-221c9393 elementor-section-stretched elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-row-scroll-none none"
                                data-id="221c9393" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">


                            <div class="elementor-container elementor-column-gap-extended ">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3f1872c5 pxl-column-none"
                                     data-id="3f1872c5" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-62c8d48a elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="62c8d48a" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <p>© 2025. All rights reserved by <a
                                                                href="http://clairitylab.ai/">Clairity Lab</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-771d019f elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="771d019f" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c4d6b8b pxl-column-none"
                                     data-id="c4d6b8b" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">

                                        <div class="elementor-element elementor-element-679b9c elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="679b9c" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <p><a href="{% url 'privacy' %}">Privacy
                                                            Policy</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3dac6dc5 elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="3dac6dc5" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <p><a href="{% url 'terms' %}">Terms
                                                            Of Services</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-760eb02b elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="760eb02b" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">
                                                        <p><a href="{% url 'cookies' %}">Cookie
                                                            Policy</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-25bfb44c elementor-widget__width-auto elementor-widget elementor-widget-pxl_text_editor"
                                             data-id="25bfb44c" data-element_type="widget"
                                             data-widget_type="pxl_text_editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="pxl-text-editor">
                                                    <div class="pxl-item--inner  " data-wow-delay="ms">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-e7a3c85 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-row-scroll-none none"
                                data-id="e7a3c85" data-element_type="section"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="google_translate_element" style="display: none"></div>
<script>
    // Define the Google Translate callback function=
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'ar,en,de',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/687625c03606072bf84a16d3/1j06o6u60';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
<!-- Load the Google Translate script -->
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script>
    // Map readable language names to Google Translate language codes
    const languageMap = {
        Arabic: "ar",
        English: "en",
        German: "de"
    };

    // Wait for everything to fully load
    window.addEventListener("load", function () {
        const waitForGoogleDropdown = setInterval(() => {
            const googleSelect = document.querySelector("select.goog-te-combo");
            if (googleSelect) {
                clearInterval(waitForGoogleDropdown);

                // Bind click events to each language link
                document.querySelectorAll(".single-language").forEach(item => {
                    item.addEventListener("click", function (e) {
                        e.preventDefault();
                        const langKey = this.getAttribute("data-lang");
                        const langCode = languageMap[langKey];
                        if (langCode && googleSelect) {
                            googleSelect.value = langCode;
                            googleSelect.dispatchEvent(new Event("change"));
                        }
                    });
                });
            }
        }, 500); // Check every 500ms
    });
</script>

<button onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top">&#8679;</button>
<script>
    // Get the button
    const scrollToTopBtn = document.getElementById("scrollToTopBtn");

    // Show button on scroll
    window.onscroll = function () {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    };

    // Smooth scroll to top
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }

</script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">